extends layout
block content
    #container
        .background.disabled
            #message
                span YOU ARE DEAD
                br
                button#reset TRY AGAIN
    script(type='text/javascript' src='javascripts/three.min.js')
    script(type='text/javascript' src='javascripts/controls/OrbitControls.js')
    script(type='text/javascript' src='javascripts/controls/KeyboardState.js')
    script(type='text/javascript' src='javascripts/tween.js')
    script(type='text/javascript' src='javascripts/index.js')