extends layout
block content
    #hud
        svg#pause(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink',
        width='512', height='512', viewbox='0 0 512 512')
            g
            path.block(d='M162.642 148.337h56.034v215.317h-56.034v-215.316z')
            path.block(d='M293.356 148.337h56.002v215.317h-56.002v-215.316z')
        svg#resume(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='512', height='512', viewbox='0 0 512 512')
            g
            path(d='M152.443 136.417l207.114 119.573-207.114 119.593z')
        #fuel
    #container
        .background.disabled
            #message
                span YOU ARE DEAD
                br
                button#reset TRY AGAIN
    script(type='text/javascript' src='javascripts/three.min.js')
    script(type='text/javascript' src='javascripts/controls/OrbitControls.js')
    script(type='text/javascript' src='javascripts/controls/KeyboardState.js')
    script(type='text/javascript' src='javascripts/tween.js')
    script(type='text/javascript' src='javascripts/index.js')